<div class="card">
  <p-menubar [model]="items">
    <ng-template #start>
      <img *ngIf="!isDarkMode()" src="assets/youneed_black.png" width="120">
      <img *ngIf="isDarkMode()" src="assets/youneed_white.png" width="120">
    </ng-template>
    <ng-template #item let-item let-root="root" >
      <a pRipple class="flex items-center p-menubar-item-link" [routerLink]="item.route">
        <span>{{ item.label }}</span>
      </a>
    </ng-template>
    <ng-template #end>
      <div class="navbar-right">
        <div *ngIf="currentUser$ | async; let currentUser">{{currentUser.firstName}} {{currentUser.lastName}}</div>
        <p-button *ngIf="!(currentUser$ | async)" label="Zaloguj" icon="pi pi-sign-in" (onClick)="navigateToLogin()"></p-button>
        <p-button *ngIf="currentUser$ | async" label="Wyloguj" icon="pi pi-sign-out" severity="secondary" (onClick)="logout()"></p-button>
        <p-button *ngIf="isDarkMode()" size="small" icon="pi pi-sun" aria-label="Toggle dark mode" severity="contrast" (click)="toggleDarkMode()" [rounded]="true" />
        <p-button *ngIf="!isDarkMode()" size="small" icon="pi pi-moon" aria-label="Toggle dark mode" severity="contrast" (click)="toggleDarkMode()" [rounded]="true" />
      </div>
    </ng-template>
  </p-menubar>
</div>
