<div class="register-container">
  <p-card header="Register Company and Owner">
    <p-stepper [value]="1">
      <p-step-item [value]="1">
        <p-step>Podaj swoje dane</p-step>
        <p-step-panel>
          <ng-template #content let-activateCallback="activateCallback">

            <app-register-owner></app-register-owner>
            <div class="flex py-6 gap-2">
              <p-button label="Next" (onClick)="activateCallback(2)" />
            </div>
          </ng-template>
        </p-step-panel>
      </p-step-item>

      <p-step-item [value]="2">
        <p-step>Header II</p-step>
        <p-step-panel>
          <ng-template #content let-activateCallback="activateCallback">
            <app-register-company-form></app-register-company-form>
            <div class="flex">
              <p-button label="Back" severity="secondary" (onClick)="activateCallback(1)" />
            </div>
          </ng-template>
        </p-step-panel>
      </p-step-item>
    </p-stepper>

  </p-card>
</div>

<p-toast></p-toast>
