.register-container {
  margin: 5px 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //max-width: 90%;

  h2 {
    margin: 1.5rem 0;
    color: var(--primary-color);
  }

  form {
    width: 100%;
    .form {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .form-group {
        display: grid;
        grid-gap: 10px;
        grid: auto / auto auto;
      }

      p-float-label {
        width: 100%;

        input {
          width: 100%;
          border-radius: 15px;
          //border: 1px solid black;
        }

        input.error{
          border: 1px solid white;
        }

        label {
          color: var(--text-color-secondary);
        }
      }

    }
  }

  .mt-4 {
    margin-top: 1.5rem;
  }

  .flex {
    display: flex;
  }

  .justify-content-end {
    justify-content: flex-end;
  }
  .nav-buttons {
    width: 100%;
    padding-top: 10px;
    display: flex;
    justify-content: flex-end;
  }
}
