/* You can add global styles to this file, and also import other style files */
html {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  height: 100%;
  overflow: hidden;
  background: rgb(255,255,255);
  background: linear-gradient(118deg, rgba(255,255,255,1) 0%, rgba(171,207,236,1) 25%, rgba(16,106,173,1) 100%);
  body {
    height: 100%;
  }
}
